[submodule "rocket-chip"]
	path = rocket-chip
	url = https://github.com/OpenXiangShan/rocket-chip
[submodule "utility"]
	path = utility
	url = https://github.com/OpenXiangShan/Utility
[submodule "coupledL2"]
	path = coupledL2
	url = https://github.com/Ivyfeather/CoupledL2
